<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.ticketLink.event.persistence.mapper.DayEventMapper">
    <resultMap id="dayEventMap" type="DailyEvent">
        <id property="dayEventNo" column="dailyEventNo" />
        <result property="eventDate" column="eventDate" />
        <result property="day7" column="day7" />
        <result property="cnt" column="cnt" />
        <result property="deTime" column="deTime" />
        <result property="castInfo" column="castInfo" />
        <result property="eventNo" column="eventNo" />
    </resultMap>

    <resultMap id="dayEventMapWithEvent" type="DailyEvent" extends="dayEventMap">
        <association property="event" javaType="Event"
                     resultMap="com.beyond.ticketLink.event.persistence.mapper.EventMapper.eventMap"
                     columnPrefix="e_"/>
    </resultMap>

    <select id="getList" parameterType="string" resultMap="dayEventMapWithEvent">
        SELECT de.dailyEventNo,
               de.eventDate,
               de.day7,
               de.cnt,
               de.deTime,
               de.castInfo,
               de.eventNo,
               e.eventNo as e_eventNo,
               e.name as e_name,
               e.eTime as e_eTime,
               e.location as e_location,
               e.eCategoryNo as e_eCategoryNo
         FROM tb_dailyEvent de
         JOIN tb_event e ON e.eventNo = de.eventNo
        WHERE e.eventNo = #{eventNo}
          AND de.eventDate = #{eventDate};
    </select>

    <select id="getData" resultMap="dayEventMapWithEvent">
        SELECT de.dailyEventNo,
               de.eventDate,
               de.DAY7,
               de.cnt,
               de.deTime,
               de.castInfo,
               de.eventNo,
               e.eventNo as e_eventNo,
               e.name as e_name,
               e.eTime as e_eTime,
               e.location as e_location,
               e.eCategoryNo as e_eCategoryNo
        FROM tb_dailyEvent de
        JOIN tb_event e ON e.eventNo = de.eventNo
        WHERE de.dailyEventNo = #{dayEventNo}
    </select>
    
    <insert id="insData">
        INSERT INTO tb_dailyEvent(
               dailyEventNo
             , eventDate
             , day7
             , cnt
             , deTime
             , castInfo
             , eventNo
        )
        VALUES
            (
              #{dayEventNo}
            , #{eventDate}
            , #{day7}
            , #{cnt}
            , #{deTime}
            , #{castInfo}
            , #{eventNo}
            )
    </insert>
</mapper>