<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.ticketLink.event.persistence.mapper.EventMapper">

    <resultMap id="eventMap" type="Event">
        <id property="eventNo" column="eventNo" />
        <result property="name" column="name" />
        <result property="startDate" column="startDate" />
        <result property="endDate" column="endDate" />
        <result property="eTime" column="eTime" />
        <result property="location" column="location" />
        <result property="info" column="info" />
        <result property="saleInfo" column="saleInfo" />
        <result property="seatInfo" column="seatInfo" />
        <result property="useYn" column="useYn" />
        <result property="eCategoryNo" column="eCategoryNo" />
    </resultMap>
    
    <resultMap id="eventMapWithDayEvent" type="Event" extends="eventMap">
        <collection property="dayEvents" ofType="DailyEvent"
                    resultMap="com.beyond.ticketLink.event.persistence.mapper.DayEventMapper.dayEventMap" columnPrefix="de_"/>
    </resultMap>

    <resultMap id="eventStatsMap" type="EventStatsDto">
        <id property="eventNo" column="eventNo" />
        <result property="name" column="name" />
        <result property="startDate" column="startDate" />
        <result property="endDate" column="endDate" />
        <result property="resCnt" column="resCnt" />
        <result property="allCnt" column="allCnt" />
        <result property="eCategoryNo" column="eCategoryNo" />
    </resultMap>

    <select id="getList" resultMap="eventMap">
        SELECT e.eventNo,
        e.name,
        e.startDate,
        e.endDate,
        e.eTime,
        e.location,
        e.info,
        e.saleInfo ,
        e.seatInfo ,
        e.eCategoryNo
        FROM tb_event e
        WHERE e.useYn = 'Y'
            <if test="eCategoryNo != null and eCategoryNo > 0">
            AND e.eCategoryNo = #{eCategoryNo}
            </if>
            <if test="name != null and name != ''">
            AND e.name LIKE concat('%', #{name}, '%')
            </if>
    </select>

    <select id="getData" resultMap="eventMapWithDayEvent">
        SELECT e.eventNo,
               e.name,
               e.startDate,
               e.endDate,
               e.eTime,
               e.location,
               e.info,
               e.saleInfo,
               e.seatInfo,
               e.timeInfo,
               e.useYn,
               e.eCategoryNo,
               de.dailyEventNo AS de_dailyEventNo,
               de.eventDate AS de_eventDate,
               de.day7 AS de_day7,
               de.cnt AS de_cnt,
               de.deTime AS de_deTime,
               de.castInfo AS de_castInfo,
               de.eventNo AS de_eventNo
        FROM tb_event e
        LEFT OUTER JOIN tb_dailyEvent de ON de.eventNo = e.eventNo
        WHERE e.eventNo = #{eventNo}
          <if test="dto != null">
              <if test="dto.sDate != null and dto.eDate != null">
              AND (de.eventDate >= #{dto.sDate} AND de.eventDate &lt;= #{dto.eDate})
              </if>
              <if test="dto.dayInfo != null and dto.dayInfo != ''">
                AND de.day7 IN
                <foreach collection="dto.days" item="day" open="(" close=")" separator=",">
                    #{day}
                </foreach>
              </if>
              <if test="dto.timeInfo != null and dto.timeInfo != ''">
                AND de.deTime IN
                <foreach collection="dto.times" item="time" open="(" close=")" separator=",">
                    #{time}
                </foreach>
              </if>
              <if test="dto.castInfo != null and dto.castInfo != ''">
                <foreach collection="dto.casts" item="cast" open=" AND " separator=" OR ">
                    de.castInfo LIKE CONCAT('%', #{cast}, '%')
                </foreach>
              </if>
          </if>
    </select>

    <select id="getStatsList" resultMap="eventStatsMap">
        SELECT e.eventNo,
               e.name,
               e.startDate,
               e.endDate,
               IFNULL(t1.cnt, 0) AS resCnt,
               IFNULL(t2.cnt, 0) AS allCnt,
               e.eCategoryNo
        FROM tb_event e
                 LEFT OUTER JOIN
             (SELECT e.eventNo,
                     COUNT(*) AS cnt
              FROM tb_event e
               JOIN tb_dailyEvent de ON e.eventNo = de.eventNo
               JOIN tb_ticket t ON t.dailyEventNo = de.dailyEventNo
               JOIN tb_reservation r ON r.ticketNo = t.ticketNo
              WHERE r.status != 'C'
              GROUP BY e.eventNo) t1 ON t1.eventNo = e.eventNo
                 LEFT OUTER JOIN
             (SELECT e.eventNo,
                     CASE
                         WHEN de.eventDate IS NULL THEN 0
                         ELSE COUNT(*)
                     END AS cnt
              FROM tb_event e
                       JOIN tb_dailyEvent de ON de.eventNo = e.eventNo
                       LEFT OUTER JOIN tb_ticket t ON t.dailyEventNo = de.dailyEventNo
              GROUP BY e.eventNo) t2 ON t2.eventNo = e.eventNo
        <where>
          <if test="name != null and name != ''">
            AND e.name LIKE concat('%', #{name}, '%')
          </if>
          <if test="eCategoryNo != null and eCategoryNo > 0">
            AND e.eCategoryNo = #{eCategoryNo}
          </if>
        </where>
    </select>
    
    <insert id="insData">
        INSERT INTO tb_event(
            eventNo
            , name
            , startDate
            , endDate
            , eTime
            , location
            , info
            , saleInfo
            , seatInfo
            , timeInfo
            , eCategoryNo
        )
        VALUES(
                #{eventNo}
              , #{name}
              , #{startDate}
              , #{endDate}
              , #{eTime}
              , #{location}
              , #{info}
              , #{saleInfo}
              , #{seatInfo}
              , #{timeInfo}
              , #{eCategoryNo}
              )
    </insert>

    <update id="uptData">
        UPDATE tb_event
        <trim prefix="SET">
            <if test="updateParam.name != null and updateParam.name != ''">
                name = #{updateParam.name},
            </if>
            <if test="updateParam.eTime != null and updateParam.eTime != ''">
                eTime = #{updateParam.eTime},
            </if>
            <if test="updateParam.location != null and updateParam.location != ''">
                location = #{updateParam.location},
            </if>
            <if test="updateParam.info != null and updateParam.info != ''">
                info = #{updateParam.info},
            </if>
            <if test="updateParam.saleInfo != null and updateParam.saleInfo != ''">
                saleInfo = #{updateParam.saleInfo},
            </if>
            <if test="updateParam.useYn != null">
                useYn = #{updateParam.useYn},
            </if>
            <if test="updateParam.eCategoryNo != null and updateParam.eCategoryNo > 0">
                eCategoryNo = #{updateParam.eCategoryNo},
            </if>
            uptDate = CURDATE()
        </trim>
        WHERE eventNo = #{eventNo}
    </update>
</mapper>