<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.ticketLink.event.persistence.mapper.EventMapper">

    <resultMap id="eventMap" type="Event">
        <id property="eventNo" column="eventNo" />
        <result property="name" column="name" />
        <result property="startDate" column="startDate" />
        <result property="endDate" column="endDate" />
        <result property="eTime" column="eTime" />
        <result property="location" column="location" />
        <result property="info" column="info" />
        <result property="saleInfo" column="saleInfo" />
        <result property="seatInfo" column="seatInfo" />
        <result property="eCategoryNo" column="eCategoryNo" />
    </resultMap>
    
    <resultMap id="eventMapWithDayEvent" type="Event" extends="eventMap">
        <collection property="dayEvents" ofType="DailyEvent"
                    resultMap="com.beyond.ticketLink.event.persistence.mapper.DayEventMapper.dayEventMap" columnPrefix="de_"/>
    </resultMap>

    <select id="getList" resultMap="eventMap">
        SELECT e.eventNo,
        e.name,
        e.startDate,
        e.endDate,
        e.eTime,
        e.location,
        e.info,
        e.saleInfo ,
        e.seatInfo ,
        e.eCategoryNo
        FROM tb_event e
        <where>
            <if test="eCategoryNo != null">
            AND e.eCategoryNo = #{eCategoryNo}
            </if>
            <if test="name != null and name != ''">
            AND e.name LIKE concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="getData" resultMap="eventMapWithDayEvent">
        SELECT e.eventNo,
               e.name,
               e.startDate,
               e.endDate,
               e.eTime,
               e.location,
               e.info,
               e.saleInfo,
               e.seatInfo,
               e.timeInfo,
               e.eCategoryNo,
               de.dailyEventNo AS de_dailyEventNo,
               de.eventDate AS de_eventDate,
               de.day7 AS de_day7,
               de.cnt AS de_cnt,
               de.deTime AS de_deTime,
               de.castInfo AS de_castInfo,
               de.eventNo AS de_eventNo
        FROM tb_event e
        LEFT OUTER JOIN tb_dailyEvent de ON de.eventNo = e.eventNo
        WHERE e.eventNo = #{eventNo}
          <if test="dto != null">
              <if test="dto.sDate != null and dto.eDate != null">
              AND (de.eventDate >= #{dto.sDate} AND de.eventDate &lt;= #{dto.eDate})
              </if>
              <if test="dto.dayInfo != null and dto.dayInfo != ''">
                AND de.day7 IN
                <foreach collection="dto.days" item="day" open="(" close=")" separator=",">
                    #{day}
                </foreach>
              </if>
              <if test="dto.timeInfo != null and dto.timeInfo != ''">
                AND de.deTime IN
                <foreach collection="dto.times" item="time" open="(" close=")" separator=",">
                    #{time}
                </foreach>
              </if>
              <if test="dto.castInfo != null and dto.castInfo != ''">
                <foreach collection="dto.casts" item="cast" open=" AND " separator=" OR ">
                    de.castInfo LIKE CONCAT('%', #{cast}, '%')
                </foreach>
              </if>
          </if>
    </select>
    
    <insert id="insData">
        INSERT INTO tb_event(
            eventNo
            , name
            , startDate
            , endDate
            , eTime
            , location
            , info
            , saleInfo
            , seatInfo
            , timeInfo
            , eCategoryNo
        )
        VALUES(
                #{eventNo}
              , #{name}
              , #{startDate}
              , #{endDate}
              , #{eTime}
              , #{location}
              , #{info}
              , #{saleInfo}
              , #{seatInfo}
              , #{timeInfo}
              , #{eCategoryNo}
              )
    </insert>

    <update id="uptData">
        UPDATE tb_event
        SET name = #{updateParam.name},
            eTime = #{updateParam.eTime},
            location = #{updateParam.location},
            info = #{updateParam.info},
            saleInfo = #{updateParam.saleInfo},
            eCategoryNo = #{updateParam.eCategoryNo},
            uptDate = CURDATE()
        WHERE eventNo = #{eventNo}
    </update>
</mapper>