<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beyond.ticketLink.coupon.persistence.mapper.CouponMapper">
    <resultMap id="couponResultMap" type="Coupon">
        <id property="couponNo" column="couponNo"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="dcPercent" column="dcPercent"/>
        <result property="insDate" column="insDate"/>
        <result property="expireDate" column="expireDate"/>
    </resultMap>

    <sql id="selectCouponSQL">
        SELECT couponNo,
               couponNo,
               code,
               name,
               dcPercent,
               insDate,
               expireDate,
               userNo
        FROM tb_coupon
    </sql>
    
    <insert id="save" parameterType="CouponCreateDto">
        INSERT INTO tb_coupon(couponNo, code, name, dcPercent, insDate, expireDate, userNo)
        VALUES (#{couponNo},
                #{code},
                #{name},
                #{dcPercent},
                #{insDate},
                #{expireDate},
                #{userNo})
    </insert>

    <select id="selectCouponByCouponNo" parameterType="string" resultMap="couponResultMap">
        <include refid="selectCouponSQL"/>
        WHERE couponNo = #{couponNo}
    </select>

    <select id="selectCouponsByUserNo" parameterType="string" resultMap="couponResultMap">
        <include refid="selectCouponSQL"/>
        WHERE userNo = #{userNo}
    </select>


    <select id="selectAllCoupons" parameterType="CouponFindQuery" resultMap="couponResultMap">
        <include refid="selectCouponSQL"/>
        <where>
            <if test="userNo != null">
                AND userNo = #{userNo}
            </if>
            <if test="couponNo != null">
                AND couponNo = #{couponNo}
            </if>
        </where>
    </select>

    <update id="updateCoupon" parameterType="CouponUpdateDto">
        UPDATE tb_coupon
        SET name       = #{name},
            dcPercent  = #{dcPercent},
            expireDate = #{expireDate}
        WHERE couponNo = #{couponNo}
    </update>

    <delete id="deleteCoupon" parameterType="string">
        DELETE FROM tb_coupon
        WHERE couponNo = #{couponNo}
    </delete>

</mapper>