<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.ticketLink.user.persistence.mapper.JwtMapper">
    <insert id="save" keyColumn="tokenNo">
        insert into tb_jwt(tokenNo, refreshToken, userNo)
        values (GET_NO('tb_jwt'), #{refreshToken}, #{userNo})
    </insert>

    <select id="findByUserNo" resultType="RefreshToken">
        select refreshToken
        from tb_jwt
        where userNo = #{userNo}
    </select>
</mapper>