<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.ticketLink.reservation.persistence.mapper.PayMapper">

    <resultMap id="payMap" type="PayInfo">
        <id property="payNo" column="payNo" />
        <result property="payDate" column="payDate" />
        <result property="status" column="status" />
        <result property="price" column="price" />
        <result property="fee" column="fee" />
        <result property="deliveryCost" column="deliveryCost" />
        <result property="discount" column="discount" />
        <result property="totalAmt" column="totalAmt" />
        <result property="userNo" column="userNo" />
    </resultMap>

    <resultMap id="payMapWithRes" type="PayInfo" extends="payMap">
        <collection property="reservations" ofType="Reservation"
                    resultMap="com.beyond.ticketLink.reservation.persistence.mapper.ReservationMapper.resMap" columnPrefix="rs_"/>
    </resultMap>
    
    <resultMap id="payListMap" type="PayListDto">
        <id property="payNo" column="payNo" />
        <result property="resDate" column="resDate" />
        <result property="resNo" column="resNo" />
        <result property="name" column="name" />
        <result property="eventDate" column="eventDate" />
        <result property="deTime" column="deTime" />
        <result property="cnt" column="cnt" />
        <result property="status" column="status" />
    </resultMap>

    <select id="getList" parameterType="string" resultMap="payListMap">
        SELECT p.payNo,
               MAX(r.resDate) AS resDate,
               MAX(r.resNo) AS resNo,
               e.name,
               de.eventDate,
               de.deTime,
               COUNT(*) AS cnt,
               p.status
        FROM tb_payinfo p
        JOIN tb_reservation r ON r.payNo = p.payNo
        JOIN tb_ticket t ON t.ticketNo = r.ticketNo
        JOIN tb_dailyEvent de ON de.dailyEventNo = t.dailyEventNo
        JOIN tb_event e ON e.eventNo = de.eventNo
        WHERE p.userNo = #{userNo}
        GROUP BY p.payNo
        ORDER BY MAX(r.resDate) DESC
    </select>

    <select id="getData" resultMap="payMapWithRes">
    </select>
    
    <insert id="insData">
        INSERT INTO tb_payinfo(
                payNo
              , payment
              , payDate
              , price
              , fee
              , deliveryCost
              , discount
              , totalAmt
              , userNo
        )
        VALUES(
               #{payNo}
              , #{payment}
              , #{payDate}
              , #{price}
              , #{fee}
              , #{deliveryCost}
              , #{discount}
              , #{totalAmt}
              , #{userNo}
              )
    </insert>
</mapper>