<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.ticketLink.reservation.persistence.mapper.ReservationMapper">

    <resultMap id="resMap" type="Reservation">
        <id property="resNo" column="resNo" />
        <result property="resDate" column="resDate" />
        <result property="status" column="status" />
        <result property="ticketNo" column="ticketNo" />
        <result property="payNo" column="payNo" />
    </resultMap>

    <resultMap id="resMapWithTicket" type="Reservation" extends="resMap">
        <association property="ticket" javaType="Ticket"
                     resultMap="com.beyond.ticketLink.event.persistence.mapper.TicketMapper.ticketMapWithDayEvent2"
                     columnPrefix="t_"/>
    </resultMap>
    
    <select id="getList" resultMap="resMap">
    </select>

    <select id="getData" resultMap="resMap">
    </select>

    <select id="getChkRes" parameterType="string" resultType="_int">
        SELECT COUNT(*) AS preResChk
        FROM tb_reservation
        WHERE ticketNo = #{ticketNo}
          AND status IN ('W','S')
    </select>

    <insert id="insData">
        INSERT INTO tb_reservation(
            resNo
          , status
          , ticketNo
          , payNo
        )
        VALUES
        (
          #{resNo}
        , #{status}
        , #{ticketNo}
        , #{payNo}
        )
    </insert>

    <update id="uptData" parameterType="string">
        UPDATE tb_reservation
        SET status = 'C',
            uptDate = CURDATE()
        WHERE payNo = #{payNo}
    </update>
</mapper>