<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beyond.ticketLink.notification.persistence.mapper.NotificationMapper">
    <resultMap id="notificationResultMap" type="Notification">
    <id property="notiNo" column="notiNo"/>
    <result property="message" column="message"/>
    <result property="notiDate" column="notiDate"/>
    <result property="notiStatus" column="notiStatus"/>
    <result property="payNo" column="payNo"/>

        <association property="payInfo"
                     javaType="PayInfo"
                     columnPrefix="p_"
                     resultMap="com.beyond.ticketLink.reservation.persistence.mapper.PayMapper.payMap"/>


    </resultMap>

    <select id="selectAll" parameterType="string" resultMap="notificationResultMap">
        SELECT  p.userNo as p_userNo,
                n.message,
                r.resNo,
                n.notiDate ,
                p.payment as p_payment,
                n.notiDate,
                n.notiStatus
        FROM tb_notification n
                 LEFT OUTER JOIN tb_payinfo p ON p.payNo = n.payNo
                 LEFT OUTER JOIN tb_reservation r ON r.payNo = n.payNo
        WHERE p.userNo = #{userNo}
    </select>


    <select id="selectNoti" parameterType="string" resultMap="notificationResultMap">
        SELECT  n.notiNo,
                n.message,
                r.resNo,
                n.notiDate,
                n.notiDate,
                n.notiStatus,
                n.payNo,
                p.payNo AS p_payNo,
                p.payment AS p_payment,
                p.price AS p_price
        FROM tb_notification n
                 LEFT OUTER JOIN tb_payinfo p ON p.payNo = n.payNo
                 LEFT OUTER JOIN tb_reservation r ON r.payNo = n.payNo
        WHERE n.notiNo = #{notiNo}
    </select>

    <insert id="insertNoti">
        INSERT INTO tb_notification(
               notiNo
             , message
             , payNo
        )
        VALUES
            (
              #{notiNo}
            , #{message}
            , #{payNo}
            )
    </insert>



    <update id="updateNoti" parameterType="string">
        UPDATE tb_notification
        SET notiStatus = 'N'
        WHERE notiNo = #{notiNo}
    </update>


</mapper>