<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beyond.ticketLink.board.persistence.mapper.BoardMapper">

    <resultMap id="boardResultMap" type="Board">
        <id property="boardNo" column="boardNo"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="rating" column="rating"/>
        <result property="insDate" column="insDate"/>
        <result property="uptDate" column="uptDate"/>
    </resultMap>

    <resultMap id="boardWithAllResultMap" type="Board" extends="boardResultMap">
        <association property="user"
                     javaType="TicketLinkUserDetails"
                     columnPrefix="u_"
                     resultMap="com.beyond.ticketLink.user.persistence.mariadb.mapper.UserMapper.userWithUserRoleResultMap"
        />
        <association property="event"
                     javaType="Event"
                     columnPrefix="e_"
                     resultMap="com.beyond.ticketLink.event.persistence.mapper.EventMapper.eventMap"
        />
        <association property="category"
                     javaType="BoardCategory"
                     columnPrefix="bc_"
                     resultMap="com.beyond.ticketLink.board.persistence.mapper.BoardCategoryMapper.boardCategoryResultMap"
        />
        <collection property="replies"
                    javaType="List"
                    ofType="Reply"
                    columnPrefix="br_"
                    resultMap="com.beyond.ticketLink.reply.persistence.mapper.ReplyMapper.replyWithUserResultMap"
        />
    </resultMap>

    <insert id="save" keyColumn="boardNo">
        insert into tb_board(boardNo, title, content, rating, insDate, uptDate, userNo, eventNo, bCategoryNo)
        values (GET_NO('tb_board'), #{title}, #{content}, #{rating}, #{insDate}, #{uptDate}, #{userNo}, #{eventNo},
                #{bCategoryNo})
    </insert>

    <select id="selectBoardByBoardNo" parameterType="string" resultMap="boardWithAllResultMap">
        SELECT tb_b.boardNo,
               tb_b.title,
               tb_b.content,
               tb_b.rating,
               tb_b.insDate,
               tb_b.uptDate,
               tb_u.userNo       AS 'u_userNo',
               tb_u.id           AS 'u_id',
               tb_u.name         AS 'u_name',
               tb_u.email        AS 'u_email',
               tb_u.useYn        AS 'u_useYn',
               tb_u.roleNo       AS 'u_ur_roleNo',
               tb_r.name         AS 'u_ur_name',
               tb_e.eventNo      AS 'e_eventNo',
               tb_e.name         AS 'e_name',
               tb_e.startDate    AS 'e_startDate',
               tb_e.endDate      AS 'e_endDate',
               tb_e.eTime        AS 'e_eTime',
               tb_e.location     AS 'e_location',
               tb_e.info         AS 'e_info',
               tb_e.saleInfo     AS 'e_saleInfo',
               tb_e.seatInfo     AS 'e_seatInfo',
               tb_e.eCategoryNo  AS 'e_eCategoryNo',
               tb_e.insDate      AS 'e_insDate',
               tb_e.uptDate      AS 'e_uptDate',
               tb_bc.bCategoryNo AS 'bc_bCategoryNo',
               tb_bc.name        AS 'bc_name',
               tb_br.replyNo     AS 'br_replyNo',
               tb_br.content     AS 'br_content',
               tb_br.cnt         AS 'br_cnt',
               tb_br.uptDate     AS 'br_uptDate',
               reply_u.id        AS 'br_u_id',
               reply_u.name      AS 'br_u_name',
               reply_u.email     AS 'br_u_email',
               reply_u.useYn     AS 'br_u_useYn'
        FROM tb_board tb_b
                 INNER JOIN tb_user tb_u ON tb_b.userNo = tb_u.userNo
                 INNER JOIN tb_role tb_r ON tb_u.roleNo = tb_r.roleNo
                 INNER JOIN tb_event tb_e ON tb_b.eventNo = tb_e.eventNo
                 INNER JOIN tb_boardCategory tb_bc ON tb_b.bCategoryNo = tb_bc.bCategoryNo
                 INNER JOIN tb_reply tb_br ON tb_b.boardNo = tb_br.boardNo
                 INNER JOIN tb_user reply_u ON tb_br.userNo = reply_u.userNo
        WHERE tb_b.boardNo = #{boardNo};
    </select>

    <select id="selectBoardAll" parameterType="BoardFindQuery" resultMap="boardWithAllResultMap">
        SELECT tb_b.boardNo,
               tb_b.title,
               tb_b.content,
               tb_b.rating,
               tb_b.insDate,
               tb_b.uptDate,
               tb_u.userNo       AS 'u_userNo',
               tb_u.id           AS 'u_id',
               tb_u.name         AS 'u_name',
               tb_u.email        AS 'u_email',
               tb_u.useYn        AS 'u_useYn',
               tb_u.roleNo       AS 'u_ur_roleNo',
               tb_r.name         AS 'u_ur_name',
               tb_e.eventNo      AS 'e_eventNo',
               tb_e.name         AS 'e_name',
               tb_e.startDate    AS 'e_startDate',
               tb_e.endDate      AS 'e_endDate',
               tb_e.eTime        AS 'e_eTime',
               tb_e.location     AS 'e_location',
               tb_e.info         AS 'e_info',
               tb_e.saleInfo     AS 'e_saleInfo',
               tb_e.seatInfo     AS 'e_seatInfo',
               tb_e.eCategoryNo  AS 'e_eCategoryNo',
               tb_e.insDate      AS 'e_insDate',
               tb_e.uptDate      AS 'e_uptDate',
               tb_bc.bCategoryNo AS 'bc_bCategoryNo',
               tb_bc.name        AS 'bc_name',
               tb_br.replyNo     AS 'br_replyNo',
               tb_br.content     AS 'br_content',
               tb_br.cnt         AS 'br_cnt',
               tb_br.uptDate     AS 'br_uptDate',
               reply_u.id        AS 'br_u_id',
               reply_u.name      AS 'br_u_name',
               reply_u.email     AS 'br_u_email',
               reply_u.useYn     AS 'br_u_useYn'
        FROM tb_board tb_b
                 INNER JOIN tb_user tb_u ON tb_b.userNo = tb_u.userNo
                 INNER JOIN tb_role tb_r ON tb_u.roleNo = tb_r.roleNo
                 INNER JOIN tb_event tb_e ON tb_b.eventNo = tb_e.eventNo
                 INNER JOIN tb_boardCategory tb_bc ON tb_b.bCategoryNo = tb_bc.bCategoryNo
                 INNER JOIN tb_reply tb_br ON tb_b.boardNo = tb_br.boardNo
                 INNER JOIN tb_user reply_u ON tb_br.userNo = reply_u.userNo
        <where>
            <if test="query.bCategoryNo != null">
                AND tb_bc.bCategoryNo = #{query.bCategoryNo}
            </if>
        </where>

    </select>

    <update id="updateBoard" parameterType="BoardUpdateDto">
        <selectKey keyProperty="uptDate" keyColumn="uptDate" order="BEFORE" resultType="java.sql.Date">
            SELECT NOW()
        </selectKey>
        UPDATE tb_board
        SET title=#{title},
        content=#{content},
        rating=#{rating},
        uptDate=#{uptDate}
        WHERE boardNo=#{boardNo};
    </update>

    <delete id="deleteBoard">
        DELETE
        FROM tb_board
        WHERE boardNo = #{boardNo}
    </delete>

</mapper>


