<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.ticketLink.board.persistence.mapper.BoardCategoryMapper">
    <select id="findByNo" resultType="BoardCategory" parameterType="int">
        SELECT bCategoryNo,
               name
        FROM tb_boardCategory
        WHERE bCategoryNo = #{no}
    </select>

    <select id="findAll" resultType="BoardCategory">
        SELECT bCategoryNo,
               name
        FROM tb_boardCategory;
    </select>
</mapper>