<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beyond.ticketLink.reply.persistence.mapper.ReplyMapper">

    <sql id="selectReplySql">
        SELECT replyNo,
               cnt,
               content,
               insDate,
               uptDate,
               boardNo
        FROM tb_reply
    </sql>

    <resultMap id="replyResultMap" type="Reply">
        <id property="replyNo" column="replyNo"/>
        <result property="cnt" column="cnt"/>
        <result property="content" column="content"/>
        <result property="insDate" column="insDate"/>
        <result property="uptDate" column="uptDate"/>
    </resultMap>

    <resultMap id="replyWithUserResultMap" type="Reply" extends="replyResultMap">
        <association property="user"
                     columnPrefix="u_"
                     javaType="TicketLinkUserDetails"
                     resultMap="com.beyond.ticketLink.user.persistence.mariadb.mapper.UserMapper.userResultMap"/>
    </resultMap>

    <resultMap id="replyWithBoardResultMap" type="Reply" extends="replyResultMap">
        <association property="board"
                     columnPrefix="b_"
                     javaType="Board"
                     resultMap="com.beyond.ticketLink.board.persistence.mariadb.mapper.BoardMapper.boardResultMap"/>
    </resultMap>

    <insert id="insertReply" parameterType="ReplyCreateDto">
        INSERT INTO tb_reply (replyNo, cnt, content, insDate, uptDate, boardNo, userNo)
        VALUES (#{replyNo},
                #{cnt},
                #{content},
                #{insDate},
                #{uptDate},
                #{boardNo},
                #{userNo}
               );
    </insert>

    <select id="selectReplyByReplyNo" parameterType="string" resultMap="replyWithUserResultMap">
        SELECT tb_r.replyNo,
               tb_r.cnt,
               tb_r.content,
               tb_r.insDate,
               tb_r.uptDate,
               tb_r.boardNo,
               tb_u.userNo  AS 'u_userNo',
               tb_u.id      AS 'u_id',
               tb_u.pw      AS 'u_pw',
               tb_u.name    AS 'u_name',
               tb_u.email   AS 'u_email',
               tb_u.useYn   AS 'u_useYn',
               tb_ur.roleNo AS 'u_ur_roleNo',
               tb_ur.name   AS 'u_ur_name'
        FROM tb_reply tb_r
                 INNER JOIN tb_user tb_u ON tb_r.userNo = tb_u.userNo
                 INNER JOIN tb_role tb_ur ON tb_u.roleNo = tb_ur.roleNo
        WHERE tb_r.replyNo = #{replyNo};

    </select>

    <select id="selectNextReplyCnt" parameterType="string" resultType="_int">
        SELECT COUNT(*) + 1
        FROM tb_reply
        WHERE boardNo = #{boardNo}
    </select>

    <update id="updateReply" parameterType="ReplyUpdateDto">
        UPDATE tb_reply
        SET content=#{content},
            uptDate=#{uptDate}
        WHERE replyNo = #{replyNo}
    </update>

    <delete id="deleteReply">
        DELETE FROM tb_reply
        WHERE replyNo = #{replyNo}
    </delete>

</mapper>